# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/

# Coverage
.coverage
htmlcov/
